<nav>
    <h1>node blog</h1>
    <ul>
        <li>
            <a href="/">ana sayfa</a>
        </li>
        <li>
            <a href="/about">hakkımızda</a>
        </li>
        <li>
            <a href="/login">login</a>
        </li>
    </ul>
</nav>