<!DOCTYPE html>
<html lang="en">

<%-include('./components/head')%>

<body>
    <%-include('./components/header')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, quos id. Laboriosam dolorem ut similique
            minus repudiandae perferendis consectetur excepturi minima deserunt sapiente dicta soluta iste provident,
            aspernatur repellat ea velit autem rerum nam! Nostrum, voluptates? Reprehenderit consequuntur quam sit
            suscipit nulla sed, sequi aliquam hic labore aliquid laboriosam consectetur?</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque omnis cupiditate illum vitae ea iste vel
            esse, quos laboriosam eligendi ratione recusandae odit blanditiis nulla iure doloribus aut dignissimos quod?
        </p>
    </section>
</body>

</html>