<!DOCTYPE html>
<html lang="en">
<%-include('./components/head')%>

<body>
    <%-include('./components/header')%>

    <section>
        <a href="/admin/add">yeni yazı ekle</a>
        <h2>Admin paneli</h2>

        <ul>
            <% blogs.forEach(blog => {%>
            <li>
                <p><%=blog.title%></p>
                <a class="del" data-doc="<%=blog._id%>">sil</a>
            </li>
            <% })%>

        </ul>
    </section>

    <script>
        const del = document.querySelectorAll('a.del');
        const delLinks = [].slice.call(del)

        delLinks.forEach((item, i) => {
            item.addEventListener('click', e => {
                const endpoint = `/admin/delete/${item.dataset.doc}`

                fetch(endpoint, {
                        method: 'DELETE'
                    })
                    .then((response) => {
                        response.json()
                    })
                    .then((data) => {
                        window.location.href = data.link
                    })
                    .catch(error => {
                        console.log(error)
                    })
            })
        });
    </script>
</body>

</html>