<!DOCTYPE html>
<html lang="en">

<%-include('./components/head')%>

<body>
    <%-include('./components/header')%>
    <section>
        <a href=""><%=blog.title%></a>
        <p><%=blog.long%></p>
    </section>
</body>

</html>